/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colors  */
    --primary-bg: #B4D0E6;
    --secondary-bg :white;
    --txt-color: black;
    --border-color: #D0D0D3;
    --btn-blue-bg: #0861FF;
    --footer-bg: #000000;

     /* brands bg-colors  */
     --designit: #A2D39B ;
     --big-designit: #F5F5F5;
     --asu: #61082B;
     --wbr: #D50020;
     --hearst: #B4D0E7;
     --uf-florida: #0693CE;
     --topps: #FF1C1C;
     --lonly-planet: #0D2481;
     --clear-channel: #FFD830;



    /* gap  */
    --gap-md: 30px;

}

/* delete */

.faturate{
    height: 50px;
}




/* Generics  */
body{
    font-family: 'Open Sans', sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

section{
    background-color: var(--secondary-bg);
    margin-bottom: 100px;
}

nav{
    display: flex;
}

a{
    color: var(--txt-color);
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
}

ul{
    list-style-type: none;
}

span, p{
    font-size: 12px;
}

footer{
    color: white;
    background-color: var(--footer-bg);
}

/* Utils  */
.full-page{
    height: 100vh;
}

.container-sm{
    width: 700px;
    margin: auto;
}

.container-big{
    width: 900px;
    margin: auto;
}

.flex{
    display: flex;
}

.row{
    flex-basis: 100%;
    flex-wrap: wrap ;
    gap: var(--gap-md);
}

.col{
    flex-basis: calc(100%/3 - 60px/3);
}

.col-30{
    flex-basis: 30%;
}

.col-70{
    flex-basis: 70%;
}

.blue-btn{
    color: white;
    background-color: var(--btn-blue-bg);
    box-shadow: 0 0 1px black;
}

.border{
    border: 1px solid var(--border-color);
}

.border-btm{
    border-bottom: 1px solid var(--border-color);
}


/* main-header  */
#main-header{
    background-color: var(--secondary-bg);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 10px 20px;
    box-shadow: 0 0 10px var(--border-color);
}

#main-header a{
    display: block;
}

.logo{
    margin-right: 20px;
}

.header-list .list{
    align-self: center;
}

.header-list{
    justify-content: space-between;
    flex-grow: 1;
}

.header-list ul{
    display: flex;
}

/* main  */
.jumbo{
    background-color: var(--primary-bg);
    padding: 20px 0;
}

  /* -jumbo section  */


.jumbo h1{
      font-size: 56px;
      padding: 40px 0;
  }

#jumbo{
    max-width: 70%;
    float: right;
}

section.jumbo .row{
    gap: 0;
}

section.jumbo .jumbo-txt{
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    margin-bottom: 70px;
}

  /* -payments section  */
.payments{
    clear: right;
    padding: 10px;
}

.payments .plans-title{
    font-size: 37px;
    margin: 40px 0;
}

.faturate>span{
    margin-right: 20px;
}

i.fa-circle-dot{
    color: #0861FF;
}

.plan{
    justify-content: center;
    padding: 10px 0;
}

.plan-info{
    flex-direction: column;
    padding: 10px 20px;
    gap: var(--gap-md);
}

.user::before{
    content: '\f007';
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    padding: 0 5px;  
}

.team::before{
    content: '\f0c0';
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    padding: 0 5px;
}

.company::before{
    content: '\f1ad';
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    padding: 0 5px;
}

.archive::before{
    content: '\f07b';
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    padding: 0 5px;
}

.share::before{
    content: '\f1e0';
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    padding: 0 5px;
}

.card{
    width: 100%;
}

  /* -partner section  */
#partner-img{
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 20px;
}

.partner-txt{
    min-height: 400px;
    padding-top: 50px 0;
}

   /* featurs section  */
.featurs{
    clear: left;
}

#featurs-img{
    width: 100%;
    height: 200px;
}

  /* drop box team section  */
section.dropbox-team a{
    color: #1718EF;
    text-decoration: underline;
    
}

section.dropbox-team h1{
    margin: 50px 0;
    
}

  /* brands section  */
section.brands-box{
      margin-bottom: 0;
}

section.brands-box .row{
    gap: 0;
}

section.brands-box .col{
    flex-wrap: wrap;
    flex-basis: calc(100%/3);
}

.sm-card{
    flex-basis: calc(100%/2);
    height: calc(100vw/6);
    position: relative;
}

.brand{
    max-width: 60%;
}

.sm-card>img.brand{
    filter:invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.big-card{
    flex-basis: 100%;
    height: calc(100vw/3);
    padding: 30px;

}

.big-card>.border{
    margin: 30px 0;
    max-width: 20%;
}

p.author{
    margin-top: 30px;
}


   /* brends bg colors  */

.designit.sm-card{
background-color: var(--designit);
}

.asu.sm-card{
background-color: var(--asu);
}

.uf-florida.sm-card{
background-color: var(--uf-florida);
}

.topps.sm-card{
background-color: var(--topps);   
}

.wbr.sm-card{
background-color: var(--wbr);
}

.hearst.sm-card{
background-color: var(--hearst);
}

.lonly-planet.sm-card{
background-color: var(--lonly-planet);
}

.clear-channel.sm-card{
background-color: var(--clear-channel);
}

.designit.big-card{
background-color: var(--big-designit);
}

  /* dropbox-gate section  */
.dropbox-gate{
    background-color: var(--primary-bg);
    display: flex;

    height: 300px;
}

.bussines-gate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  /* faq section  */
.faq .title>h1{
    padding: 30px 0;

}

.faq .question>h3{
    padding:20px 0;
}

/* footer  */
footer a{
    color: white;
}

footer li>a{
    padding:0;
    line-height: 24px;
}

.footer-row, footer h3{
    padding: 20px 0;
}

.footer-col{
    flex-basis: calc(100%/5);
}

footer .language{
    color: gray;
    font-size: 12px;
    max-width: 10%;
    margin-top: 50px;
    padding-bottom: 30px;
}

footer select{
    color: gray;
    background-color: transparent;
    border: none;
    appearance: none;
}

footer .border{
    margin: 30px 0;
}





