/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colors  */
    --primary-bg: #B4D0E6;
    --secondary-bg :white;
    --txt-color: black;
    --berder-color: #D0D0D3;
    --btn-blue-bg: #0861FF;
    --footer-bg: black;
}

/* Generics  */
body{
    font-family: 'Open Sans', sans-serif;
}

/* Utils  */
.container-sm{

}

.container-big{
    
}